.body {
    background-image: url('img/login-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    
    height: 300px;
    width: 340px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 8px;
    padding-top: 30px;
    padding-bottom: 30px;
}